.home section {
	margin-top: 5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.5rem;
}

.resource {
	padding: 0.75rem 1.5rem;
	border-radius: 0.5rem;
	text-align: left;
	text-decoration: none;
	color: #222;
	background-color: #f1f1f1;
	border: 1px solid transparent;
}

.resource:hover {
	border: 1px solid #000;
	box-shadow: 0 25px 50px -12px #673ab888;
}

@media (max-width: 639px) {
	.home section {
		margin-top: 5rem;
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
}

@media (prefers-color-scheme: dark) {
	.resource {
		color: #ccc;
		background-color: #161616;
	}
	.resource:hover {
		border: 1px solid #bbb;
	}
}

label {
    border: none;
    box-shadow: 4px 4px 3px black;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        filter: brightness(150%);
    }
}

form {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 3fr 1fr;
	column-gap: 1rem;

	#options {
		border: 2px solid #66727E;
		grid-area: 1 / 2 / 3 / 2;
	}

	table {
		grid-area: 1 / 1 / 4 / 2;
	}

	input[type="submit"] {
		grid-area: 3 / 2 / 3 / 2;
	}
}

* {
	font-size: 1.1rem;
}

input[type="checkbox"] {
	display: none;

	& + label {
		background-color: #828282;
		color: black;
	}

	&.red:checked + label {
		background-color: #B7365B;
		color: white;
	}

	&.blue:checked + label {
		background-color: #2D5EB8;
		color: white;
	}

	&.green:checked + label {
		background-color: #2D8F4A;
		color: white;
	}

	&.colorless:checked + label {
		background-color: #66727E;
		color: white;
	}

	&.movement:checked + label {
		background-color: #FF3210;
		color: white;
	}
}

td label {
	display: block;
    padding: 10px;
}

.tab {
	padding: 10px;
	width: 100%;
	outline: none;
	border: none;
	cursor: pointer;
}

.results {
	max-height: 900px;
	overflow-y: auto;
	padding: 10px;

	table {
		width: 100%;
		background-color: #222;

		tr {
			cursor: pointer;
			&:hover {
				filter: drop-shadow(0 0 2em #673ab8aa);
			}
		}

		.HP, .Atk, .Spd, .Def, .Res, .BST {
			background-color: #3e3e3e;
		}
	}
}

.detail-list {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(8, 20vh);
	padding: 10px;
	gap: 10px;
	background-color: #2B2A33;
	
	& > div {
		overflow: auto;
		position: relative;
		padding: 8px;
		background-color: rgba(30, 30, 30, 0.85);
		h3, h4, p {
			margin: 0;
		}
		h2 {
			position: sticky;
			top: 0;
			z-index: 1;
			background:  rgba(50, 50, 50, 0.9);
			color: #F8E9A1;
			margin: 0;
		}
	}

	label {
		padding: 10px;
	}

	input:checked + label {
		&.blue {
			background-color: #2D5EB8;
		}

		&.red {
			background-color: #B7365B;
		}
	
		&.blue {
			background-color: #2D5EB8;
		}
	
		&.green {
			background-color: #2D8F4A;
		}
	
		&.colorless {
			background-color: #66727E;
		}

		color: white;
	}

	.hero-portrait {
		grid-area: 3 / 1 / 5 / 3;
		display: flex;
		flex-direction: column;
		justify-content: center;
		& > img {
			width: 90%;
		}
	}

	.moveset-summary {
		grid-area: 5 / 1 / 7 / 3;
		td {
			text-align: start;
		}
	}

	.hero-intro {
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: space-between;
		& div {
			display: flex;
			align-items: center;
		}
		& img {
			width: 40px;
		}
	}

	.weapon-list {
		grid-area: 1 / 3 / 3 / 5;
	}

	.assist-list {
		grid-area: 3 / 3 / 5 / 5;
		overflow: auto;
		position: relative;
		padding: 8px;
		background-color: rgba(30, 30, 30, 0.85);
		h3, h4, p {
			margin: 0;
		}

		h2 {
			position: sticky;
			top: 0;
			z-index: 1;
			background:  rgba(50, 50, 50, 0.9);
			color: #F8E9A1;
			margin: 0;
		}
	}

	.specials-list {
		grid-area: 5 / 3 / 7 / 5;
	}

	.passive-a-list {
		grid-area: 1 / 5 / 3 / 7;
	}

	.passive-b-list {
		grid-area: 3 / 5 / 5 / 7;
	}

	.passive-c-list {
		grid-area: 5 / 5 / 7 / 7;
	}

	.submit {
		grid-area: 7 / 3 / 9 / 5;
	}

	.passive-s-list {
		grid-area: 7 / 5 / 9 / 7;
	}

	.stats {
		grid-area: 7 / 1 / 9 / 3;
	}

	.navigation {
		grid-area: 1 / 1 / 3 / 3;
		button {
			background-color: #E99EAE;
			padding: 10px;
			color: black;
		}
	}
}

td.portrait-cell {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: end;
}

ul {
	display: flex;
	padding: 0;
	list-style: none;

	&, li {
		margin: 0;
	}

	li {
		flex: 1;
	}
}

.hide {
	display: none;
}

.thumbnail {
	height: 150px;
	width: 150px;
	position: relative;
}

.portrait {
	position: relative;
	height: 100%;
	width: 100%;
	&.loading {
		background-color: gray;
	}
}

.skill-label {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	& > div {
		display: flex;
		justify-content: space-between;
	}
}

.movement-icon {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 40px;
}

.weapon-icon {
	position: absolute;
	left: 0;
	top: 0;
	height: 50px;
}

.inline {
	display: inline;
	height: 100%;
	width: 80%;
}

.stat-input {
	display: none;
	&:disabled + label {
		filter: brightness(80%);
	}

	&:checked + label.flaw {
		color: #E99EAE;
		text-shadow: 2px 2px black;
	}

	&:checked + label.asset {
		color: #89D5E3;
		text-shadow: 2px 2px black;
	}
}

.game-asset {
	width: 35px;
}

.stats {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

h2, h3 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	gap: 10px;
}
