.MovesetSlot {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.StatModsGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
    width: 70%;
}

.filterInput {
    display: none;
    &:checked + label {
        color: red;
        font-size: 20px;
    }
}

.formTable {
    width: 100%;
    td {
        text-align: center;
    }
}
